body {    background-color: #eee; padding: 40px 0}

.logo-small{  background: url('../images/logo-small.png') no-repeat center center; padding-left:35px;}

.navbar-right .dropdown{cursor:pointer}
.pointer{cursor:pointer;}
.pointer:hover{opacity: 0.9}



.loading .logo-small{
-webkit-animation-name: rotate;
-webkit-animation-duration:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-moz-animation-name: rotate;
-moz-animation-duration:2s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform:rotate(0deg);}
    to {  -moz-transform:rotate(360deg);}
}

/* None*/
.class-0{color:#000000}
/* Warrior */
.class-1{color:#C79C6E 	}
/* Paladin */
.class-2{color:#F58CBA 	}
/* Hunter */
.class-3{color:#ABD473}
/* Rogue */
.class-4{color:#FFF569}
/* Priest */
.class-5{color:#FFFFFF;}
/* Death Knight */
.class-6{color:#C41F3B }
/* Shaman */
.class-7{color:#0070DE}
/* Mage */
.class-8{color:#69CCF0}
/* Warlock */
.class-9{color:#9482C9 	}
/* Monk */
.class-10{color:#00FF96}
/* Druid */
.class-11{color:#FF7D0A}


.icon {padding: 1px 0px 1px 25px;}

/* Warrior */
.icon.class-1{background: url('../images/icon/18/class-1.gif') left center no-repeat;}
/* Paladin */
.icon.class-2{background: url('../images/icon/18/class-2.gif') left center no-repeat;}
/* Hunter */
.icon.class-3{background: url('../images/icon/18/class-3.gif') left center no-repeat;}
/* Rogue */
.icon.class-4{background: url('../images/icon/18/class-4.gif') left center no-repeat;}
/* Priest */
.icon.class-5{background: url('../images/icon/18/class-5.gif') left center no-repeat;}
/* Death Knight */
.icon.class-6{background: url('../images/icon/18/class-6.gif') left center no-repeat;}
/* Shaman */
.icon.class-7{background: url('../images/icon/18/class-7.gif') left center no-repeat;}
/* Mage */
.icon.class-8{background: url('../images/icon/18/class-8.gif') left center no-repeat;}
/* Warlock */
.icon.class-9{background: url('../images/icon/18/class-9.gif') left center no-repeat;}
/* Monk */
.icon.class-10{background: url('../images/icon/18/class-10.gif') left center no-repeat;}
/* Druid */
.icon.class-11{background: url('../images/icon/18/class-11.gif') left center no-repeat;}

.icon.armory {background: url('../images/icon/18/armory.png') left center no-repeat;}
.icon.dps {background: url('../images/icon/18/dps.png') left center no-repeat;padding: 1px 0px 1px 20px;}
.icon.heal {background: url('../images/icon/18/heal.png') left center no-repeat;padding: 1px 0px 1px 20px;}
.icon.tank {background: url('../images/icon/18/tank.png') left center no-repeat;padding: 1px 0px 1px 20px;}


/** Login **/
.form-signin { max-width: 330px;margin: 0 auto; padding:15px;}

/** Dashboard **/
.dashboard .feeds ul {padding-left:0px; list-style: none}
.dashboard .feeds li {text-overflow: ellipsis;overflow: hidden;  white-space: nowrap;padding-left:30px;display:none;}
.dashboard .display-mmo li.mmo {display:block}
.dashboard .display-jh li.jh {display:block}
.dashboard .mmo {background: url('../images/mmo.png') left center no-repeat;}
.dashboard .jh {background: url('../images/jh.png') left center no-repeat;}
.dashboard .feed-selector {position:absolute; right:10px;top:0px;}
.dashboard .feed-selector span {background-position: center center;text-indent: -9999px;width:50px;}

.dashboard .chat ul {padding-left:0px; list-style: none}
.dashboard .chat .form .btn {width:100%}

.dashboard .raidlog{text-overflow: ellipsis;overflow: hidden;  white-space: nowrap;}

.dashboard .character img {width:100%;max-width:128px;}
.dashboard .character .col-md-4 {padding-right:0px;}

/** Personnages **/
.characters .alert {display:none;}
.characters .characters-list .row { margin-bottom:20px; border-bottom:1px solid #ddd;padding-bottom: 20px;}
.characters .characters-list .row.last { border:none;}

.characters .characters-list .row img { float:right;}




/** Roster **/
.roster .reroll {margin-left:20px}
.roster li {margin-top:10px;}
.roster .roster-character{margin-bottom:5px; border-bottom:1px solid #ddd;padding-bottom: 5px;}
.roster .roster-character.last{border:none;}
.roster .roster-character.casu {display:none;}
.roster button {float:right}

