<div class="dashboard">
    <h1>Accueil</h1>
    <div class="row">
        <div class="col-md-4 feeds">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> Actualités</h3>
                </div>
                <div class="panel-body">

                    <div class="feed-selector">
                        <span title="MMO Champion" class="mmo btn btn-default" ng-class="{ 'active' : !displaymmo}" ng-click="displaymmo = !displaymmo">MMO Champion</span>
                        <span title="JudgeHype" class="jh btn btn-default" ng-class="{ 'active' : !displayjh}" ng-click="displayjh = !displayjh">JudgeHype</span>
                    </div>
                    <ul ng-class="{ 'display-mmo' : !displaymmo , 'display-jh' : !displayjh }">
                        <li ng-repeat="feed in feeds" class="{{feed.source.toLowerCase()}}">
                            <span am-time-ago="feed.time"></span> -
                            <a target="_blank" title="{{feed.title}}" href="{{feed.link}}">{{feed.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 chat">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> Messagerie</h3>
                </div>
                <div class="panel-body">
                    <ul scroll-glue>
                        <li ng-repeat="message in messages">
                            [{{message.date | amDateFormat:'DD/MM HH:mm:ss'}}] <span class="class-{{message.class}}">{{message.username}}</span> : {{message.message}}
                        </li>
                    </ul>
                    <div class="row">
                        <form class="form-inline"  ng-submit="chatSubmit()">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="text" width="100%" placeholder="Tapez votre message de 250 caractères max ..." ng-model="text" class="form-control" maxlength="250">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Envoyer</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personnage principal</h3>
                </div>
                <div class="panel-body">

                    <div class="character">
                        <div ng-if="mainCharacter == 0">
                            <a href="#/personnages"><span class="glyphicon glyphicon-plus"></span> Ajoutez un personnage</a>
                        </div>

                        <div ng-if="mainCharacter != 0" class="row">
                            <div class="col-md-4">
                                <img ng-src="/data/thumbnails/{{mainCharacter.id}}.jpg" />
                            </div>
                            <div class="col-md-8">
                                <div><span class="class-{{mainCharacter.class}}">{{mainCharacter.name}}</span> - <em>{{mainCharacter.realm}}</em></div>
                                <div><em>lvl {{mainCharacter.level}}</em></div>
                                <div>ilvl {{mainCharacter.ilvl}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="online-users panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">En ligne</h3>
                </div>
                <div class="panel-body">

                       <div ng-repeat="onlineUser in onlineUsers | unique: 'uid'"><span class="class-{{onlineUser.class}}">{{onlineUser.username}}</span> <em>({{onlineUser.role}})</em></div>

                </div>
            </div>


            <div class="raids panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Prochains raids</h3>
                </div>
                <div class="panel-body">
                    <div class="raid" ng-class="{ 'last' : $last}" ng-repeat="raid in nextRaids" >
                        <a href="#/raids/raid/{{raid.type}}/{{raid.id}}"><div class="date"><span ng-if="raid.type =='guild'" class="glyphicon glyphicon-hand-right"></span> {{raid.date | amDateFormat:'dddd Do MMMM - HH:mm'}}</div>
                            <div>{{raid.name}}</div>
                        </a>
                    </div>
                    <div ng-show="nextRaids.length==0">
                        Aucun raids à venir ...
                    </div>
                </div>


            </div>
            <div class="raids-logs panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Raids logs</h3>
                </div>
                <div class="panel-body">
                    <div class="raidlog" ng-repeat="raidsLog in raidsLogs">
                        <a target="_blank" title="{{raidsLog.title}}" href="https://www.warcraftlogs.com{{raidsLog.url}}">{{raidsLog.start| amDateFormat:'DD/MM/YY'}} - {{raidsLog.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>