<div class="roster">
    <button ng-if="role=='officier'" ng-click="updateAllCharacters()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Update All</button>
    <h1>Roster</h1>

    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tous les personnages</h3>
                </div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input ng-model="showReroll" type="checkbox"> Afficher les rerolls
                        </label>
                    </div>

                    <div class="group-character" ng-class="{ 'last' : $last}" ng-repeat="characterGroup in orderCharactersByName ">

                        <div ng-repeat="character in characterGroup  | orderBy:'-main'">

                            <div ng-hide="character.main == 0 && showReroll==false" ng-class="{ 'reroll' : character.main == 0}">
                                <span class="icon class-{{character.class}}"></span><a class="class-{{character.class}}" target="_blank" href="{{armoryBaseUrl}}wow/fr/character/{{character.realm}}/{{character.name}}/advanced">{{character.name}}</a> ({{character.ilvl}}) <span ng-hide="character.main == 0"> - {{character.urole}}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="online-users panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Roster de raid</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="icon tank">Tanks ({{(allRaidCharacters | filterBy: ['main + role']: '1 tank').length}})</h4>
                            <div ng-repeat="character in allRaidCharacters | filterBy: ['main + role']: '1 tank' | orderBy:'ilvl':true"  >
                                <div class="roster-character {{character.urole}}" ng-class="{ 'last' : $last}">
                                    <a class="icon class-{{character.class}}" target="_blank" href="{{armoryBaseUrl}}wow/fr/character/{{character.realm}}/{{character.name}}/advanced">{{character.name}}</a> ({{character.ilvl}})
                                    <div ng-if="character.role == character.armory_role">
                                        <div class="text-danger" ng-if="character.missing_gem == 1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Gemme manquante</em></div>
                                        <div class="text-danger" ng-if="character.neck == 0 || enchantsList.indexOf(character.neck) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement cou</em></div>
                                        <div class="text-danger" ng-if="character.back == 0 || enchantsList.indexOf(character.back) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement dos</em></div>
                                        <div class="text-danger" ng-if="character.finger1 == 0 || enchantsList.indexOf(character.finger1) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 1</em></div>
                                        <div class="text-danger" ng-if="character.finger2 == 0 || enchantsList.indexOf(character.finger2) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 2</em></div>
                                        <div class="text-danger" ng-if="character.mainHand == 0 || enchantsList.indexOf(character.mainHand) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement arme</em></div>
                                    </div>
                                    <div ng-if="character.role != character.armory_role" class="text-warning"><span class="glyphicon glyphicon-warning-sign"></span> <em>Offspec sur l'armory</em></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 class="icon healing">Heals ({{(allRaidCharacters | filterBy: ['main + role']: '1 heal').length}})</h4>
                            <div ng-repeat="character in allRaidCharacters | filterBy: ['main + role']: '1 heal' | orderBy:'ilvl':true" >
                                <div ng-class="{ 'last' : $last}" class="roster-character {{character.urole}}">
                                    <a class="icon class-{{character.class}}" target="_blank" href="{{armoryBaseUrl}}wow/fr/character/{{character.realm}}/{{character.name}}/advanced">{{character.name}}</a> ({{character.ilvl}})
                                    <div ng-if="character.role == character.armory_role">
                                        <div class="text-danger" ng-if="character.missing_gem == 1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Gemme manquante</em></div>
                                        <div class="text-danger" ng-if="character.neck == 0 || enchantsList.indexOf(character.neck) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement cou</em></div>
                                        <div class="text-danger" ng-if="character.back == 0 || enchantsList.indexOf(character.back) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement dos</em></div>
                                        <div class="text-danger" ng-if="character.finger1 == 0 || enchantsList.indexOf(character.finger1) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 1</em></div>
                                        <div class="text-danger" ng-if="character.finger2 == 0 || enchantsList.indexOf(character.finger2) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 2</em></div>
                                        <div class="text-danger" ng-if="character.mainHand == 0 || enchantsList.indexOf(character.mainHand) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement arme</em></div>
                                    </div>
                                    <div ng-if="character.role != character.armory_role" class="text-warning"><span class="glyphicon glyphicon-warning-sign"></span> <em>Offspec sur l'armory</em></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 class="icon dps">DPS CaC ({{charactersByDpsRole.dps_cac.length}})</h4></h4>
                            <div ng-repeat="character in charactersByDpsRole.dps_cac | orderBy:'ilvl':true">
                                <div ng-class="{ 'last' : $last}" class="roster-character {{character.urole}}">
                                    <a class="icon class-{{character.class}}" target="_blank" href="{{armoryBaseUrl}}wow/en/character/{{character.realm}}/{{character.name}}/advanced">{{character.name}}</a> ({{character.ilvl}} - {{character.dps}})
                                    <div ng-if="character.role == character.armory_role">
                                        <div class="text-danger" ng-if="character.missing_gem == 1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Gemme manquante</em></div>
                                        <div class="text-danger" ng-if="character.neck == 0 || enchantsList.indexOf(character.neck) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement cou</em></div>
                                        <div class="text-danger" ng-if="character.back == 0 || enchantsList.indexOf(character.back) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement dos</em></div>
                                        <div class="text-danger" ng-if="character.finger1 == 0 || enchantsList.indexOf(character.finger1) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 1</em></div>
                                        <div class="text-danger" ng-if="character.finger2 == 0 || enchantsList.indexOf(character.finger2) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 2</em></div>
                                        <div class="text-danger" ng-if="character.mainHand == 0 || enchantsList.indexOf(character.mainHand) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement arme</em></div>
                                    </div>
                                    <div ng-if="character.role != character.armory_role" class="text-warning"><span class="glyphicon glyphicon-warning-sign"></span> <em>Offspec sur l'armory</em></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 class="icon dps">DPS Distants ({{charactersByDpsRole.dps_distant.length}})</h4></h4>
                            <div ng-repeat="character in charactersByDpsRole.dps_distant | orderBy:'ilvl':true" >
                                <div ng-class="{ 'last' : $last}" class="roster-character {{character.urole}} ">
                                    <a class="icon class-{{character.class}}" target="_blank" href="{{armoryBaseUrl}}wow/en/character/{{character.realm}}/{{character.name}}/advanced">{{character.name}}</a> ({{character.ilvl}} - {{character.dps}})
                                    <div ng-if="character.role == character.armory_role">
                                        <div class="text-danger" ng-if="character.missing_gem == 1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Gemme manquante</em></div>
                                        <div class="text-danger" ng-if="character.neck == 0 || enchantsList.indexOf(character.neck) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement cou</em></div>
                                        <div class="text-danger" ng-if="character.back == 0 || enchantsList.indexOf(character.back) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement dos</em></div>
                                        <div class="text-danger" ng-if="character.finger1 == 0 || enchantsList.indexOf(character.finger1) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 1</em></div>
                                        <div class="text-danger" ng-if="character.finger2 == 0 || enchantsList.indexOf(character.finger2) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement doigt 2</em></div>
                                        <div class="text-danger" ng-if="character.mainHand == 0 || enchantsList.indexOf(character.mainHand) == -1"><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Enchantement arme</em></div>
                                    </div>
                                    <div ng-if="character.role != character.armory_role" class="text-warning"><span class="glyphicon glyphicon-warning-sign"></span> <em>Offspec sur l'armory</em></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
